.flex{
    display: flex;
    justify-content: center;
}
.items-center{
    align-items: center;
}
.left{
    align-items: left;
    justify-content: left;
    margin: 10px;
        
}
.right{
    align-items: right;
    justify-content: right;
    text-align: right;
    margin: 10px;
    float: right;
}
